@import '../../styles/variables';

.slideshow {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem 0;

  &-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  &-controls {
    align-items: center;
    display: flex;
    gap: 1rem;

    .controls {
      display: flex;
      justify-content: stretch;
      gap: 1rem;
      width: 100%;
    }
  }

  .prev, .next {
    flex: 1;
    color: $color-blue;
    cursor: pointer;
    transition: 0.6s ease;
    user-select: none;
    width: auto;
    padding: .25rem 1rem;
    border: solid $color-blue 2px;
    border-radius: .5rem;
    background-color: $color-white;
    text-align: center;
  }
}
