:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;

  color-scheme: light;

  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// GLOBAL STYLES
html, body {
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
}

* {box-sizing:border-box}

h1, .h1,
h2, .h2 {
  color: #444;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1, .h1 {
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h2, .h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.transform-180 {
  transform: rotate(180deg);
}
